/* reset styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

/* common tag styles */
body {
    width: 100%;
    font-size: 62.5%;
    font-family: Verdana, Arial, sans-serif;
    background-color: #000;
}
iframe {
    border-width: 0;
}

/* common class styles */
.button {
    float: left;
    width: 21%;
    height: 33%;
    padding: 2%;
}
.button_link {
    width: 100%; /* 250/475px */
    height: 200px; /* 200/350px */
    background-color: #666;
    border: ridge 4px #fff;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    display: block;
    text-indent: -9999px;
    font-size: 0px;
}
.button_text {
    color: #fff;
    font-size: 3em;
    text-align: center;
}
.clear {
    clear: both;
}
.popup {
    z-index: 1000;
    position: absolute;
    top: 10px;
    left: 10px;
    border: solid 5px #000;
}
.popup_content {
    overflow: hidden;
    float: left;
}
.popup_scrollbar {
    float: right;
    width: 100px;
    background-color: #eee;
    position: relative;
}
.popup_scrollbutton {
    width: 100px;
    height: 100px;
    background-color: #888;
    background-image: url(images/scrollbutton.gif);
    position: absolute;
}

/* common id styles */
#wrapper {
    margin: 0 auto;
}
#content {
}
#header {
    color: #007;
    background-color: #fff;
    width: 100%;
    height: 65px;
}
#header h1, #header h2 {
    background-repeat: no-repeat;
    background-position: center left;
    font-size: 0px;
    text-indent: -9999px;
    margin: 5px;
    height: 55px;
}
#header h1 {
    background-image: url(images/nscc.gif);
    width: 226px;
    float: left;
}
#header h2 {
    background-image: url(images/institute.gif);
    width: 610px;
    float: right;
}
#body {
    background-color: #000;
    height: 950px;
    clear: both;
}
#footer {
    height: 50px;
    padding: 5px;
    background-color: #009;
    clear: both;
    color: #fff;
    font-size: 4em;
}
#date {
    float: left;
}
#time {
    float: right;
}

/* main page styles */
#navigation {
    clear: both;
}
#button1 a {
    background-image: url(images/HomeIcon.png);
}
.zoom {
    border: solid 5px #69e;
    overflow: hidden;
}
